.overflow-auto::-webkit-scrollbar {
  display: none;
}

.overflow-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --background-color: #fff;
  /* Light mode background color */
  --text-color: #000;
  /* Light mode text color */
  --secondary-bg-color: #ff86bf;
  /* Light mode secondary background color */
  --secondary-text-color: #FFF;
  /* Light mode secondary text color */
  --primary-color: #ff5fa9;
  /* Light mode primary color */
}

[data-theme="dark"] {
  --background-color: #474646;
  /* Dark mode background color */
  --text-color: #fff;
  /* Dark mode text color */
  --secondary-bg-color: #222224;
  /* Dark mode secondary background color */
  --secondary-text-color: #fff;
  /* Dark mode secondary text color */
  --primary-color: #515151;
  /* Dark mode primary color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}